<h1>Welcome to InstaGrab!</h1>
<p class="lead">Please register or sign in to continue.</p>

<%= link_to 'Sign in', new_user_session_path, class: 'btn btn-outline-primary' %>
<%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>


